{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Hero image -->
<div class="container-fluid hero-img-signup-in" title="Buddha Bowls">
    <h1>MacroMeals</h1>
</div>

<!-- Login -->
<div class="card container-fluid signup-in-card">
    <div class="row signup-in-row">
        <div class="col-md-8 mt-3">
            <h3 class="signup-in-header">{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Hi! To leave a comment or rate a recipe, please log in. If
                you
                have not created an account yet, then <a class="link signup-in-link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row signup-in-row">
        <div class="signup-in-div col-md-8 mt-3">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}