/* --------------------- Google Fonts */
@import url(
    'https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Cinzel&family=Vollkorn&display=swap'
    );

/* --------------------- Remove spaces */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Vollkorn, serif;
    background-color: #fafafa;
}

/* --------------------- Navigation Bar */
.logo img {
    width: 50px;
    height: 50px;
}