/* --------------------- Google Fonts */
@import url(
    'https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Playfair:wght@300&display=swap'
    );

/* --------------------- Remove spaces */
* {
    margin: 0;
    padding: 0;
}

/* --------------------- Body */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
}

p {
    font-family: 'Playfair', serif;
}

body {
    font-family: Vollkorn, serif;
    background-color: #fafafa;
}

/* --------------------- Hero image */

.hero-img {
    display: flex;
    width: 100%;
    height: 500px;
    background: url('https://res.cloudinary.com/dnm7rmkuf/image/upload/v1685011034/pexels-ella-olsson-1640770_z9yku5.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-img h1 {
    display: flex;
    margin-bottom: 35px;
}

.hero-img p {
    display:flex;
    font-size: 170%;
}

/* --------------------- Navigation Bar */

.navbar-brand {
    font-family: 'Playfair', serif;
}

.nav-link {
    font-family: 'Playfair', serif;
    color: #3a3a3a;
}

.nav-link:hover {
    background-color: #fa9c1b;
    color: #3a3a3a;
}

.nav-link:active {
    text-decoration: underline;
}