/* --------------------- Google Fonts */
@import url(
    'https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Playfair:wght@300&display=swap'
    );

/* --------------------- Remove spaces */
* {
    margin: 0;
    padding: 0;
}

/* --------------------- Body */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel Decorative', cursive;
}

p {
    font-family: 'Playfair', serif;
}

body {
    font-family: Vollkorn, serif;
    background-color: #fafafa;
}

hr {
    color:#fa9c1b;
}

/* --------------------- Hero image */

.hero-img {
    display: flex;
    width: 100%;
    height: 500px;
    background: url('https://res.cloudinary.com/dnm7rmkuf/image/upload/v1685011034/pexels-ella-olsson-1640770_z9yku5.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.hero-img h1 {
    display: flex;
    margin-bottom: 35px;
}

.hero-img p {
    display:flex;
    font-size: 170%;
}

/* --------------------- Navigation Bar */

.navbar-brand {
    font-family: 'Playfair', serif;
}

.nav-link {
    font-family: 'Playfair', serif;
    color: #3a3a3a;
}

.nav-link:hover {
    background-color: #fa9c1b;
    color: #3a3a3a;
}

.nav-link:active {
    text-decoration: underline;
}

/* --------------------- Login/Sign Up */

.login-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.btn-primary {
    --bs-btn-color: #3a3a3a;
    --bs-btn-bg: #fa9c1b;
    --bs-btn-border-color: #fa9c1b;
    --bs-btn-hover-bg: #fcae1e;
    --bs-btn-hover-border-color: #fcae1e;
    --bs-btn-active-bg: #fa9c1b;
    --bs-btn-active-border-color: #fa9c1b;
    --bs-btn-disabled-bg: #fcae1e;
    --bs-btn-disabled-border-color: #fcae1e;
    margin-right: 5px;
    font-family: 'Playfair', serif;
}

.btn-outline-secondary {
    --bs-btn-color: #3a3a3a;
    --bs-btn-border-color: #fa9c1b;
    --bs-btn-hover-bg: #fa9c1b;
    --bs-btn-hover-border-color: #fa9c1b;
    --bs-btn-active-bg: #fa9c1b;
    --bs-btn-active-border-color: #fa9c1b;
    --bs-btn-disabled-bg: #fcae1e;
    --bs-btn-disabled-border-color: #fcae1e;
    font-family: 'Playfair', serif;
}

/* --------------------- Cards */

.post-link {
    text-decoration: none;
}

.card-title {
    margin-top: 25px;
    font-family: 'Playfair', serif;
    font-size: 150%;
    text-decoration: none;
    color: #3a3a3a;
}

.card-title:hover {
    color: #fa9c1b;
}

.card-text {
    font-family: 'Playfair', serif;
    color: #3a3a3a;
    text-decoration: none;
    text-align: justify;
}

.card-img-top {
    height: 70%;
}

.fa-star {
    color:#fa9c1b
}

/* --------------------- Footer */

footer {
    width: 100%;
    height: 60px;
    background-color: #fa9c1b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.social p {
    margin: 0;
}

.fa-github {
    color: #3a3a3a;
    border-radius: 50%;
}

.fa-github:hover {
    color: #fafafa;
}

/* --------------------- Recipes */

h3 {
    font-size: 130%;
}