{% extends "base.html" %}

{% block title %}404 Error{% endblock %}

{% block content %}

{% load static %}

<!-- Hero image -->
<div class="container-fluid hero-img-signup-in">
    <h1>MacroMeals</h1>
</div>

<!-- Error message -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2 class="contact-header">Sorry!</h2>
            <p>Something went wrong.</p>
            <div class="d-flex">
                <a href="{% url 'home' %}" class="btn btn-msg-submit btn-lg">Back to Home</a>
            </div>

{% endblock %}