{% extends "base.html" %}

{% load static %}

{% block header %}

<div class="container-fluid hero-img-signup-in">
    <h1>MacroMeals</h1>
</div>

{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
{% if entry.author.id == user.id or user.is_superuser %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2 class="contact-header">Edit your recipe</h2>
            <form action="{% url 'edit_recipe' entry.slug %}" method="POST">
                {% csrf_token %}
                {{ form |crispy | safe }}
                <button type="submit" class="btn btn-msg-submit btn-lg">Save</button>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endif %}

{% endblock %}