{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Opens up a recipe. If the user is authenticated, they
can comment. If they wrote the recipe, they can modify or delete it. -->
<div class="container">
    <div class="row">
         <div class="card mb-3 title-card">
            <div class="row g-0">   
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title recipe-title">{{ entry.title }}</h5>
                        <p class="card-text">{{ entry.author }}</p>
                        <p class="card-text"><small class="text-muted">{{ entry.created_on }}</small></p>

                        <!-- Edit or delete functionality for authenticated
                        users to whom the recipe belongs. -->
                        {% if user.is_authenticated %}
                        {% if user.id == entry.author.id %}
                        <div class="recipe-modify">
                            <a href="{% url 'edit_recipe' entry.slug %}">
                                <button type="button" class="btn recipe-edit">Edit</button>
                            </a>
                            <a href="{% url 'delete_recipe' entry.slug %}">
                                <button type="button" class="btn recipe-delete">Delete</button>
                            </a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form parameters -->
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">Cooking/Preparation time:
                    <strong>{{ entry.cooking_time | safe }} minutes</strong>
                </p>
                <hr>
                <div class="ingredients">
                    <h3>What you'll need:</h3>
                    {{ entry.ingredients | safe }}
                </div>
                <hr>
                <div class="steps">
                    <h3>Instructions:</h3>
                    {{ entry.steps | safe }}
                </div>
                <hr>
                <div class="macros">
                    <h3>Macros per serving:</h3>
                    <p>Overall calories: {{ entry.kcal }} kcal</p>
                    <p>Protein: {{ entry.protein }} g</p>
                    <p>Carbs: {{ entry.carbs }} g</p>
                    <p>Fat: {{ entry.fat }} g</p>
                </div>
                <div class="row">
                    <div class="col-1">
                        <p class="card-text text-muted h6"><i class="fa-regular fa-star"></i>
                            {{ entry.average_rating|floatformat:1 }}
                        </p>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <p><i class="fa-regular fa-comments"></i>
                            {{ total_comments }}
                        </p>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<!-- Comment display -->
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 comments">
            <h2 class="comments-heading">Comments:</h2>
            <div class="card-body">
                {% for comment in comments %}
                <div>
                    <p class="commenter-name">
                        {{ comment.name }} wrote:
                    </p class="comment-body">
                    <p>
                        <i class="fa-solid fa-comment"></i>  {{ comment.body }}
                    </p>
                    <p class="comment-date">
                        {{ comment.created_on }}
                    </p>
                    {% if request.user == comment.user %}
                    <a href="{% url 'update_comment' comment.id entry.slug %}">Edit</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Commenting and Rating -->
<div class="container">
    <div class="row">
        <div class="col mb-4 mt-3 comments">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment will be visible after approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3 class="lv-comments-heading">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    <p>Please rate our {{entry.title}} recipe:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="one" value="1">
                        <label class="form-check-label" for="one">
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="two" value="2">
                        <label class="form-check-label" for="two">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="three" value="3">
                        <label class="form-check-label" for="three">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="four" value="4">
                        <label class="form-check-label" for="four">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="rating" id="five" value="5">
                        <label class="form-check-label" for="five">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </label>
                    </div>
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-cmnt-submit btn-lg">Submit</button>
                </form>                
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}