{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
         <div class="card mb-3 title-card">
            <div class="row g-0">   
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title recipe-title">{{ entry.title }}</h5>
                        <p class="card-text">{{ entry.author }}</p>
                        <p class="card-text"><small class="text-muted">{{ entry.created_on }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">Cooking/Preparation time:
                    <strong>{{ entry.cooking_time | safe }} minutes</strong>
                </p>
                <hr>
                <div class="ingredients">
                    <h3>What you'll need:</h3>
                    {{ entry.ingredients | safe }}
                </div>
                <hr>
                <div class="steps">
                    <h3>Instructions:</h3>
                    {{ entry.steps | safe }}
                </div>
                <hr>
                <div class="macros">
                    <h3>Macros per serving:</h3>
                    <p>Overall calories: {{ entry.kcal }} kcal</p>
                    <p>Protein: {{ entry.protein }} g</p>
                    <p>Carbs: {{ entry.carbs }} g</p>
                    <p>Fat: {{ entry.fat }} g</p>
                </div>
                <div class="row">
                    <div class="col-1">
                        <p class="card-text text-muted h6"><i class="fa-regular fa-star"></i>
                            {{ entry.average_rating|floatformat:1 }}
                        </p>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <p><i class="fa-regular fa-comments"></i>
                            {{ total_comments }}
                        </p>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-8 card mb-4 mt3 comments">
        <h2 class="comments-heading">Comments:</h2>
        <div class="card-body">
            {% for comment in comments %}
            <div>
                <p>
                    {{ comment.name }}
                    <span>
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}