{% extends "base.html" %}

{% load static %}

{% block header %}

<div class="container-fluid hero-img">
    <h1>MacroMeals</h1>
    <p>For a conscious lifestyle</p>
</div>
{% endblock %}

<!-- Main page that shows 3 recipes on one page
in a card format -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for entry in entry_list %}
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in entry.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/dnm7rmkuf/image/upload/v1685102711/qrukdohpn7oczkfyber3.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ entry.featured_image.url }}">
                                    {% endif %}
                                </div>
                                <a href="{% url 'entry_detail' entry.slug %}" class="post-link">
                                    <h2 class="card-title">{{ entry.title }}</h2>
                                    <p class="card-text">{{ entry.excerpt }}</p>
                                </a>
                                <hr />
                                <p class="author">Author: {{ entry.author }}</p>
                                <p class="card-text text-muted h6">{{ entry.created_on}} </p>
                                <p class="card-text text-muted h6"><i class="fa-regular fa-star"></i>
                                    {{ entry.average_rating|floatformat:1 }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> Previous page </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next page </a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}