{% extends "base.html" %}

{% load static %}

{% block header %}

<!-- Hero image -->
<div class="container-fluid hero-img-signup-in">
    <h1>MacroMeals</h1>
</div>
{% endblock %}

{% block content %}

<!-- Shows all recipes -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for entry in entry_list %}
                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in entry.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dnm7rmkuf/image/upload/v1685102711/qrukdohpn7oczkfyber3.jpg"
                                    alt="Recipe placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ entry.featured_image.url }}" 
                                alt="Recipe user image">
                                {% endif %}
                            </div>
                            <a href="{% url 'entry_detail' entry.slug %}" class="post-link">
                                <h2 class="card-title">{{ entry.title }}</h2>
                                <p class="card-text">{{ entry.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="author">Author: {{ entry.author }}</p>
                            <p class="card-text text-muted h6">{{ entry.created_on}} </p>
                            <p class="card-text text-muted h6"><i class="fa-regular fa-star"></i>
                                {{ entry.average_rating|floatformat:1 }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> Previous page </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next page </a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}